*{margin: 0;padding:0;}
body
{
	font-family:arial;
}
#menu
{
	width: 100%;
	position: absolute;
}

#menu_top
{
	list-style: none;
	margin:0;
	font-size:30px;
	padding:0;
}

#logo 
{

	margin-bottom: 0;
	padding:10px 0;
	background-color: rgb(114,225,208);
}
#logo img {
	width:200px;
	padding-left:20px;
}
#menu_top li 
{
	font:normal bold 18px/40px verdana, sans-serif;
	text-align:center;
	position:relative;
	border-radius:5px;
	text-decoration:none;
	list-style-type: lower-roman;
	display: block;
	padding:1px 10px;
	border:1px dotted #ccc;
	font-family: "times new roman";
}
#menu_top li a{
	color:white;
}
#menu_top a:hover
{
	color:red;
	text-decoration: none;
}

#menu_top ul a:hover{
color:red;
}
#menu_top li ul {
	position:absolute;
	display:none;
	list-style:none;
	width:200px;
	
	}
#menu_top li ul li{
	border-bottom-style:dashed;
	border-bottom-color: black;
}
#menu_top li:hover ul {
	display:block;
}
#search
{
	
	 position: absolute;
	 right:40px;
	 top:25px;
	 border:5px;
}
#search input[type="text"]
{
	border-radius:10px;
	width:200px;
	margin-top:5px;
	height:30px;
	font-size:11px;
	padding-left:10px;
	line-height:30px;
	float: left;
}
#search input[type="submit"]
{
	border-radius:5px;
	margin-top:5px;
	background:#f36e1e;
	border:none;
	height:30px;
	line-height:30px;
	padding:0 15px;
	color:#fff;
	font-size:12px;
	font-weight: bold;
}
.images{
padding:0px 15px;
}
.box
{
	background:#97FFFF;
	width:100%;
	border:2px solid #ddd;
	margin-top:15px;
}
.box_top
{
	height:34px;
	background:#1b926c;
}
.box_top p
{
	padding-left:15px;
	line-height:34px;
	color:#fff;
	margin-bottom:0;
	text-transform:uppercase;
}

.box_center
{
	margin-top:15px;
}
#
.box_center_top
{
	border-bottom:3px solid #1b926c;
}
.box_center_top_l
{
	background:#1b926c;
    float:left;
	text-align:center;
    height:32px;
	padding-left:100px;
}
.box_center_top_r
{
	height:4px;
    width:0;
    float:left;
    border-left:32px solid #1b926c;
    border-top:32px solid transparent;
}
.box_center_top_l a
{
	display: block;
	line-height:35px;
    font-size:12px;
    font-weight:bold;
    color:#fff;
    text-transform: uppercase;
    
    padding-right:50spx;
}
.box_center_top_l a:hover
{
	color:#f36e1e;
	text-decoration: none;
}

#support
{
	padding-left:10px;
	padding-right:10px;
	padding-top:10px;
}
#support p
{
	text-align: center;
	margin-bottom:0;
	padding-bottom:7px;
}
#support p span
{
	color:#f36e1e;
}
#support a
{
	margin-right:10px;
}
#baiviet_l
{
	list-style: none;
	padding:0 10px;
}
#baiviet_l li 
{
	font:normal bold 18px/40px verdana, sans-serif;
	display: block;
	padding:5% 25% 0;
	font-size:15px;
	color:#333;
	border-bottom:1px dashed #ccc;
	font-family: "times new roman";
}
#baiviet_l li input {
	background: #1b926c;
	width: 100%;
}

#baiviet_l li:last-child 
{
	border-bottom:none;
}
#baiviet_l li :hover
{
	color:red;
	text-decoration: none;
}

.tinhome_item
{
	padding-top:10px;
}
.tinhome_item_name
{
	padding-top:10px;
	color:#333;
	font-size:14px;
}
.tinhome_item_name:hover
{
	color:#3883cc;
	text-decoration: none;
}
.tinhome_item a
{
	display: block;
}
.tinhome_item img
{
	width:100%;
	border:none;
	height:220px;
}
.img-thumbnail:hover{
padding:8px 3px ;
box-shadow: -10px -10px 5px #666;
  -moz-box-shadow: -10px -5px 5px #666;
  -webkit-box-shadow: 10px 5px 5px #666;
}

#bg_footer
{
	background:#333;
	margin-top:20px;	
	width:100%;
}
#footer
{
	padding-top:10px;
	padding-bottom:10px;
}
#footer p
{
	font-size:12px;
	color:#fff;
	margin-bottom:0;
	line-height:25px;
	text-align: center;
}
h3{
	text-align:center;
}
.hide-me {
  display: none; 	
  opacity: 0;
  transform: scale(.75);
}

#baiviet_1 li p{
}
